In [6]:
import pandas as pd

In [7]:
#file import
data_file = "resources/city_weather.csv"
#set it as a dataframe
weather_df = pd.read_csv(data_file)
weather_df

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Saint George,37.1041,-113.5841,82.00,8,1,12.66,US,1618872464
1,Rikitea,-23.1203,-134.9692,78.13,73,0,10.56,PF,1618872197
2,Mataura,-46.1927,168.8643,62.01,62,0,5.01,NZ,1618872198
3,Balabac,7.9868,117.0645,81.05,76,95,15.79,PH,1618872198
4,Bredasdorp,-34.5322,20.0403,60.80,67,95,19.57,ZA,1618872198
...,...,...,...,...,...,...,...,...,...
564,Goderich,43.7501,-81.7165,44.60,87,100,16.11,CA,1618872366
565,Watsa,3.0372,29.5355,65.01,87,99,3.67,CD,1618872366
566,Coyhaique,-45.5752,-72.0662,48.20,71,75,4.61,CL,1618872367
567,Winnemucca,40.9730,-117.7357,71.60,12,1,14.97,US,1618872367
568,Raudeberg,61.9875,5.1352,50.00,62,75,16.11,NO,1618872367

In [8]:
weather_df.reset_index(inplace=True)
weather_df = weather_df.rename(columns = {'index':'City ID'})
weather_df

,City ID,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Saint George,37.1041,-113.5841,82.00,8,1,12.66,US,1618872464
1,1,Rikitea,-23.1203,-134.9692,78.13,73,0,10.56,PF,1618872197
2,2,Mataura,-46.1927,168.8643,62.01,62,0,5.01,NZ,1618872198
3,3,Balabac,7.9868,117.0645,81.05,76,95,15.79,PH,1618872198
4,4,Bredasdorp,-34.5322,20.0403,60.80,67,95,19.57,ZA,1618872198
...,...,...,...,...,...,...,...,...,...,...
564,564,Goderich,43.7501,-81.7165,44.60,87,100,16.11,CA,1618872366
565,565,Watsa,3.0372,29.5355,65.01,87,99,3.67,CD,1618872366
566,566,Coyhaique,-45.5752,-72.0662,48.20,71,75,4.61,CL,1618872367
567,567,Winnemucca,40.9730,-117.7357,71.60,12,1,14.97,US,1618872367
568,568,Raudeberg,61.9875,5.1352,50.00,62,75,16.11,NO,1618872367

In [9]:
html_info = weather_df.to_html(index=False)
#writing the html version of the table into a text file for processing later
text_file = open("resources/table_data.html", "w")
text_file.write(html_info)
text_file.close()